repos:
    - repo: https://github.com/pycqa/isort
      rev: 7.0.0
      hooks:
          - id: isort
            files: pycrostates

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.15.1
      hooks:
          - id: ruff
            name: ruff linter
            args: [--fix]
            files: pycrostates
          - id: ruff-format
            name: ruff formatter
            files: pycrostates

    - repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
      hooks:
          - id: codespell
            additional_dependencies: [tomli]

    - repo: https://github.com/pycqa/pydocstyle
      rev: 6.3.0
      hooks:
          - id: pydocstyle
            files: pycrostates
            additional_dependencies: [tomli]

    - repo: https://github.com/mscheltienne/bibclean
      rev: 0.8.0
      hooks:
          - id: bibclean-fix
            files: docs/references.bib
            args: [--exit-non-zero-on-fix]

    - repo: https://github.com/pappasam/toml-sort
      rev: v0.24.3
      hooks:
          - id: toml-sort-fix
            files: pyproject.toml

    - repo: https://github.com/adrienverge/yamllint
      rev: v1.38.0
      hooks:
          - id: yamllint
            args: [--strict, -c, .yamllint.yaml]
            files: (.github/|.codecov.yaml|.pre-commit-config.yaml|.prospector.yaml|.readthedocs.yaml)
