[tool.black]
line-length = 79
target-version = ['py37']
include = '\.pyi?$'
extend-exclude = '''
(
      __pycache__
    | \.github
    | setup.py
    | docs/
    | tutorials/
    | pycrostates/html_templates/repr
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 79
py_version = 37
extend_skip_glob = [
    'setup.py',
    'docs/*',
    'tutorials/*',
    'pycrostates/html_templates/repr/*'
]

[tool.pydocstyle]
inherit = false
convention = 'numpy'
ignore-decorators= 'copy_doc'
match = '(?!test_|setup|__init__).*\.py'
match-dir = "^(?!docs|tutorials).*"
ignore = 'D107'
