name: style
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
# https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types#pullrequestevent
# workflow name, PR number (empty on push), push ref (empty on PR)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - '**.py'
  push:
    branches: [main]
    paths:
      - '**.py'
  workflow_dispatch:

jobs:
  style:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel --progress-bar off
          python -m pip install -r requirements_testing.txt
      - name: Setup flake8 annotations
        uses: rbialon/flake8-annotations@v1
      - name: Run flake8
        uses: py-actions/flake8@v1
        with:
          path: "pycrostates"
      - name: Run black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
      - name: Run isort
        uses: jamescurtin/isort-action@master
        with:
            requirementsFiles: "requirements.txt requirements_testing.txt"
      - name: Run pydocstyle
        run: | 
          pydocstyle

