name: publish

on:  # yamllint disable-line rule:truthy
  release:
    types: [published]
  workflow_dispatch:

jobs:
  pypi:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Install uv and package
        run: |
          python -m pip install --quiet uv
          uv pip install --quiet --system -e .[build,stubs]
      - run: pycrostates-sys_info --developer
      - run: python tools/stubgen.py
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN  }}
        run: |
          python -m build
          twine check dist/*
          twine upload dist/*
