name: pytest
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 1'

jobs:
  pytest:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ["3.10", "3.14"]
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv and package
        run: |
          python -m pip install --quiet uv
          uv pip install --quiet --system .[test]
      - run: pycrostates-sys_info --developer
      - run: mne sys_info -pd
      - uses: ./.github/actions/get-testing-dataset
      - run: pytest pycrostates --cov=pycrostates --cov-report=xml --cov-config=pyproject.toml
      - uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          flags: unittests  # optional
          name: codecov-umbrella  # optional
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true  # optional (default = false)

  pytest-pip-pre:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]
    name: pip pre-release - py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv and package
        run: |
          python -m pip install --quiet uv
          uv pip install --quiet --system .[test]
          uv pip install --quiet --system --upgrade git+https://github.com/mne-tools/mne-python
          uv pip install --quiet --system --upgrade --prerelease allow --only-binary :all: --extra-index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple matplotlib numpy scipy scikit-learn
      - run: pycrostates-sys_info --developer
      - run: mne sys_info -pd
      - uses: ./.github/actions/get-testing-dataset
      - run: pytest pycrostates --cov=pycrostates --cov-report=xml --cov-config=pyproject.toml
      - uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          flags: unittests  # optional
          name: codecov-umbrella  # optional
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true  # optional (default = false)
